.model{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center; 
    width: 640px;
    height: 640px;
    position: relative;
    word-wrap: break-word;
    box-sizing: border-box;
    
}

.container{
    width: 768px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}
.module{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.module-text{
    font-size: 28px;
    color: rgb(192, 192, 192);
    text-align: center;
    margin-bottom: 10%;
    white-space: nowrap;
}
.module-button{
    border-radius: 10px;
    background-color: rgb(132, 90, 136);
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.module-button div{
    color: rgb(192, 192, 192);
}
.module-future{
    white-space: nowrap;
}
.future-topic{
    font-size:28px;
    margin-bottom: 20px;
}
.future-idea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.future-ideas div{
    font-size: 22px;
}